.head {
    width: 100%;
    height: 10px;
}

.im {
    height: 505px;
    background: #fff;
    margin: 0px 50px 5px 40px;
}

.left {
    height: calc(100% - 10px);
}

.right {
    height: calc(100% - 10px);
}

.top {
    margin: 5px 25px 0px 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d9d4d4;
}

.userList {
    height: calc(100% - 63px);
    overflow-y: scroll;
    margin-top: 15px;
    margin-bottom: 10px;
}

.userList::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 4px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}

.userList::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
}

.userList::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
}

.user {
    padding: 10px 25px 10px 15px;
    height: 65px;
    cursor: pointer;
}

.user:hover {
    background-color: #d4d1d1;
}

.active {
    background-color: #d4d1d1;
}

.con-top {
    background: linear-gradient(to right, #514b4b 0%, #ffffff 100%);
    padding: 13px;
    min-height: 47px;
}

.content {
    height: calc(82% - 42px);
    overflow-y: auto;
    padding-right: 20px;
    padding-left: 20px;
    border-bottom: 1px solid #f2f2f2;
}

.write {
    height: 18%;
}

.content::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 4px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}

.content::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
}

.content::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
}

.conversation-start {
    position: relative;
    width: 100%;
    margin-bottom: 27px;
    text-align: center;
}

.bubble {
    font-size: 16px;
    position: relative;
    display: inline-block;
    clear: both;
    margin-bottom: 8px;
    padding: 13px 14px;
    vertical-align: top;
    border-radius: 5px;
}

.bubble.you {
    float: left;
    color: #fff;
    background-color: #00b0ff;
    align-self: flex-start;
}

.bubble.me {
    float: right;
    color: #1a1a1a;
    background-color: #eceff1;
    align-self: flex-end;
}

.bubble.you:before {
    left: -3px;
    background-color: #00b0ff;
    position: absolute;
    top: 19px;
    display: block;
    width: 8px;
    height: 6px;
    content: '\00a0';
    -webkit-transform: rotate(29deg) skew(-35deg);
    transform: rotate(29deg) skew(-35deg);
}

.bubble.me:before {
    right: -3px;
    background-color: #eceff1;
    margin-left: 20px;
    position: absolute;
    top: 19px;
    display: block;
    width: 8px;
    height: 6px;
    content: '\00a0';
    -webkit-transform: rotate(29deg) skew(-35deg);
    transform: rotate(29deg) skew(-35deg);
}
.iteminfo {
    margin-top: 10px;
}
.loding {
    opacity: 0.4;
}