<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="site.acacia.flea.mapper.MessageUserMapper" >
  <resultMap id="BaseResultMap" type="site.acacia.flea.pojo.MessageUser" >
    <id column="message_user_id" property="messageUserId" jdbcType="INTEGER" />
    <result column="message_type" property="messageType" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="message_info_id" property="messageInfoId" jdbcType="INTEGER" />
    <result column="message_user_status" property="messageUserStatus" jdbcType="INTEGER" />
    <result column="message" property="message" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    message_user_id, message_type, user_id, message_info_id, message_user_status, message
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="site.acacia.flea.pojo.MessageUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from message_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from message_user
    where message_user_id = #{messageUserId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from message_user
    where message_user_id = #{messageUserId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="site.acacia.flea.pojo.MessageUserExample" >
    delete from message_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="site.acacia.flea.pojo.MessageUser" >
    insert into message_user (message_user_id, message_type, user_id, 
      message_info_id, message_user_status, message
      )
    values (#{messageUserId,jdbcType=INTEGER}, #{messageType,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{messageInfoId,jdbcType=INTEGER}, #{messageUserStatus,jdbcType=INTEGER}, #{message,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="site.acacia.flea.pojo.MessageUser" >
    insert into message_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="messageUserId != null" >
        message_user_id,
      </if>
      <if test="messageType != null" >
        message_type,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="messageInfoId != null" >
        message_info_id,
      </if>
      <if test="messageUserStatus != null" >
        message_user_status,
      </if>
      <if test="message != null" >
        message,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="messageUserId != null" >
        #{messageUserId,jdbcType=INTEGER},
      </if>
      <if test="messageType != null" >
        #{messageType,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="messageInfoId != null" >
        #{messageInfoId,jdbcType=INTEGER},
      </if>
      <if test="messageUserStatus != null" >
        #{messageUserStatus,jdbcType=INTEGER},
      </if>
      <if test="message != null" >
        #{message,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="site.acacia.flea.pojo.MessageUserExample" resultType="java.lang.Integer" >
    select count(*) from message_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update message_user
    <set >
      <if test="record.messageUserId != null" >
        message_user_id = #{record.messageUserId,jdbcType=INTEGER},
      </if>
      <if test="record.messageType != null" >
        message_type = #{record.messageType,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.messageInfoId != null" >
        message_info_id = #{record.messageInfoId,jdbcType=INTEGER},
      </if>
      <if test="record.messageUserStatus != null" >
        message_user_status = #{record.messageUserStatus,jdbcType=INTEGER},
      </if>
      <if test="record.message != null" >
        message = #{record.message,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update message_user
    set message_user_id = #{record.messageUserId,jdbcType=INTEGER},
      message_type = #{record.messageType,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      message_info_id = #{record.messageInfoId,jdbcType=INTEGER},
      message_user_status = #{record.messageUserStatus,jdbcType=INTEGER},
      message = #{record.message,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="site.acacia.flea.pojo.MessageUser" >
    update message_user
    <set >
      <if test="messageType != null" >
        message_type = #{messageType,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="messageInfoId != null" >
        message_info_id = #{messageInfoId,jdbcType=INTEGER},
      </if>
      <if test="messageUserStatus != null" >
        message_user_status = #{messageUserStatus,jdbcType=INTEGER},
      </if>
      <if test="message != null" >
        message = #{message,jdbcType=TIMESTAMP},
      </if>
    </set>
    where message_user_id = #{messageUserId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="site.acacia.flea.pojo.MessageUser" >
    update message_user
    set message_type = #{messageType,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      message_info_id = #{messageInfoId,jdbcType=INTEGER},
      message_user_status = #{messageUserStatus,jdbcType=INTEGER},
      message = #{message,jdbcType=TIMESTAMP}
    where message_user_id = #{messageUserId,jdbcType=INTEGER}
  </update>
</mapper>